<body>
  <footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">

      <!-- Social Icons -->
      <div class="flex  gap-4">
        <a href="https://www.facebook.com/ajit.waman.712" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://web.whatsapp.com/" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-whatsapp fa-lg"></i>
        </a>
        <a href="https://twitter.com/ajitwaman980" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/ajitwaman980" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="#" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/Ajitwaman980" class="text-white hover:text-gray-400 transition-colors">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>

      <!-- Company Info -->
      <div class="text-center  md:text-left">
        <p class="font-semibold text-2xl">©2024 StyeHome Private Limited</p>
      </div>

      <!-- Pages -->
      <div class="flex space-x-4 text-center md:text-right">
        <a href="/companydata/privacy" class="hover:text-gray-400 transition-colors">Privacy</a>
        <a href="/companydata/about" class="hover:text-gray-400 transition-colors">About</a>
        <a href="/companydata/terms" class="hover:text-gray-400 transition-colors">Terms</a>
        <a href="/companydata/Contact" class="hover:text-gray-400 transition-colors">Contact</a>
      </div>

    </div>
  </footer>
</body>