<body>
  <div class="footer">
    <div class="social_icon">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="company">
      <p>©2024 StyeHome Private Limited</p>
    </div>
    <div class="pages">
      <a href="">Privacy</a>
      <a href="">Terms</a>
      <a href="">About</a>
    </div>
  </div>
</body>