<body>
  <div class="footer">
    <div class="social_icon" style="cursor:pointer;">
      <a href="https://www.facebook.com/ajit.waman.712"><i class="fab fa-facebook"></i></a>
      <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i></a>
      <a href="https://twitter.com/ajitwaman980"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/ajitwaman980"><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Ajitwaman980"><i class="fab fa-github"></i></a>
    </div>
    <div class="company">
      <p>©2024 StyeHome Private Limited</p>
    </div>
    <div class="pages">
      <a href="/companydata/privacy">Privacy</a>
      <a href="/companydata/about">About</a>
      <a href="/companydata/terms">Terms</a>
    </div>
  </div>
</body>