<nav id="Navbar" class=" w-full h-20 bg-gray-100 text-gray-800">
  <div id="mainnavbar" class="flex items-center justify-between w-full h-full px-3">
    <a id="logo" class="text-xl font-bold flex items-center justify-center" href="/listings">
      <i class="fa-solid fa-house logo_symbol text-3xl text-pink-400"></i>
      <span class="ml-2 text-4xl">StayHome</span>
    </a>
    <div class="search-container justify-center relative flex items-center w-2/3 h-full">
      <form action="/listings/user/search" method="post" class="flex items-center w-full max-w-lg">
        <input type="text" name="search_content"
          class="flex-grow p-2 border border-gray-300 rounded-l-full focus:border-blue-500 outline-none"
          placeholder="Search Your Hotel">
        <button type="submit" class="p-2 border rounded-r-full hover:text-gray-800 focus:outline-none">
          <i class="fa-solid fa-search"></i>
        </button>
      </form>
    </div>
    <div id="newlisting" class="flex gap-4 items-center justify-center">
      <!-- desktop view -->
      <% if (currentUsser) { %>
        <a id="addlist" class="nav-link w-40 flex text-1xl font-sans font-bold text-gray-700 hover:text-black"
          href="/listings/new">List Your Property</a>

        <a id="desklogout" class="nav-link  text-gray-700 hover:text-black" href="/logout">
          <i class="fa-solid fa-right-to-bracket text-4xl text-red-600"></i>
        </a>
        <% } %>


          <!-- mobile view  -->

          <% if (currentUsser) { %>

            <a id="addlistmobile" class="nav-link w-40 flex text-1xl font-sans font-bold text-gray-700 hover:text-black"
              href="/listings/new">Add</a>

            <a id="logoutmobile" class="nav-link text-gray-700 hover:text-black" href="/logout">
              <i class="fa-solid fa-right-to-bracket text-4xl text-red-600"></i>
            </a>

            <% } %>

              <!-- user not login -->
              <% if (!currentUsser) { %>
                <a id="login" class="nav-link border-black border-2 text-gray-700 text-xl" href="/login">Login</a>
                <a style="padding-left: 1rem; " id="loginmedia" class="nav-link" href="/login">
                  <i class="fa-regular fa-user text-2xl"></i>
                </a>
                <a id="singup" class="nav-link text-gray-700 text-xl" href="/signUp">Sign Up</a>
                <% } %>

    </div>
  </div>
</nav>