<nav class="navbar navbar-expand-sm navbar-light bg-body-light  border-bottom">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"><span
          style="font-size: 1.5rem;">StayHome</span></i></a>

    <div class="search-container">
      <form action="/listings/user/search" method="post">
        <input type="text" name="search_content" class="search-input" placeholder="Search Your Hotel">
        <div class="search-icon">
          <button style="outline: none; background: none; border: none; text-decoration: none;" type="submit"><i
              class="fa-solid fa-search"></i></button>
        </div>
      </form>

    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>

        <!-- <a class="nav-link" href="/listings">All Listings</a> -->
        <% if (currentUsser) { %>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
          <% } %>
            <style>
              .collapse {
                display: flex;
                justify-content: end;
              }
            </style>
            <div class="collapse navbar-collapse">
              <% if (!currentUsser) { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/signUp">SignUp</a>
                <% } %>
                  <% if (currentUsser) { %>
                    <a class="nav-link" href="/logout">LogOut</a>
                    <% } %>


            </div>
      </div>
    </div>
  </div>
</nav>