<% layout("/layout/biolerplate.ejs")-%>
    <style>
        /* Scoping styles specifically for login page to avoid conflicts */
    </style>
    <% if (error && error.length> 0) { %>
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <div class="login-container">
                <form action="/login" method="post">
                    <div class="username">
                        <input type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div class="password">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <i class="toggle-password fa fa-fw fa-eye-slash" id="togglePassword"></i>
                    </div>
                    <button type="submit">Login</button>
                    <div style="display: flex; justify-content: center; gap:1rem">
                        <a href="/signUp">SignUp?</a>
                        <a href="/listings">Home</a>
                    </div>
                </form>
            </div>
            <script src="/javascripts/loginpassword.js"></script>