<% layout("/layout/biolerplate.ejs")-%>
    <link rel="stylesheet" href="/stylesheets/user.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <% if (error && error.length> 0) { %>
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>




            <div class="form-container">
                <form action="/signUp" method="post" class="needs-validation">
                    <input class="form-control" type="text" placeholder="Enter your username" name="username"
                        id="username" required>
                    <input class="form-control" type="email" placeholder="Enter your email" name="email" id="email"
                        required>
                    <input class="form-control" type="password" placeholder="Enter your password" name="password"
                        id="password">
                    <button onclick="return passwordval()" type="submit">Sign Up</button>

                </form>
            </div>
            <script src="/javascripts/passwordval.js"></script>
            <script src="/javascripts/loginpassword.js"></script>